body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #ebeff2;
    background-repeat: no-repeat;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px;
}

.card2 {
    margin: 0px 40px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 105px;
    max-width: 180px;
    margin-left : 5px;
    margin-right : 5px;
}

.image {
    width: 100%;
    height: calc(85vh);
    background-size: cover;
    background-position: center;
}

.border-line {
    border-right: 1px solid #EEEEEE;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: .6px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #125bf8;
    width: 170px;
    color: #fff;
    border-radius: 4px;
    line-height: 2;
}

.btn-dark {
    background-color: #353c48;
    width: 170px;
    color: #fff;
    border-radius: 4px;
    line-height: 2;
}

.btn-blue:hover {
    background-color: #1A237E;
    cursor: pointer;
    color: #c9c9c9;
}
.btn-dark:hover {
    background-color: #262b33;
    cursor: pointer;
    color: #a7a7a7;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
    position: absolute;
    margin-top: -75px;
    margin-left: -31px;
    width: 100.1%;
}

.bg-dark {
    color: #fff;
    background-color: #041048 !important;
    position: absolute;
    margin-top: -75px;
    margin-left: -31px;
    width: 98.1%;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px;
    }

    .image {
        width: 100%;
        height: auto;
        max-height: 600px;
    }

    .border-line {
        border-right: none;
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
        height: calc(80vh);
    }

    .bg-blue {
        width: 96.2%;
        margin-left: 0px;
    }
    .bg-dark {
        width: 96.2%;
        margin-left: 0px;
    }
}